html,
body {
    margin: 0;
    padding: 0;
    background: #0e0e0f;
    overflow: hidden;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    font-size: 14px;
    color: white;
}

#root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

canvas {
    position: absolute;
}

.loading {
    padding: 10px;
    font-weight: 900;
    font-size: 3em;
    transform: translate3d(-50%, -50%, 0);
}

.content {
    padding-top: 10px;
    transform: translate3d(200%, 0, 0);
    text-align: right;
}

.content::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 190px;
    transform: translate3d(-120px, 0, 0);
    height: 1px;
    background: white;
}
